<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Superheroes</title>'
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h1 align="center">Superhero database</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Hero Name</th>
        <th scope="col">Real Name</th>
        <th scope="col">Creation Year</th>
        <th scope="col">Power</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hero : ${heroes}">
        <td th:text="${hero.heroName}"/>
        <td th:text="${hero.realName}"/>
        <td th:text="${hero.creationYear}"/>
        <td>
            <a th:href="@{/kea/superpower/{name}(name=${hero.heroName})}">
                <button type="button" class="btn btn-success">Powers</button>
            </a>

        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/kea/superhero/add}"> >
    <button type="button" class="btn btn-secondary btn-lg btn-block">Add Superhero</button>
</a>

<br>

<a th:href="@{/kea/update/{name} ... "> >
    <button type="button" class="btn btn-secondary btn-lg btn-block">Update Superhero</button>
</a>

</body>
</html>